*{padding:0; margin:0; box-sizing:border-box;}
/*b태그와 div는 padding과 margin을 가지지 않기에 해당 클래스들에게 일제히 추후에 부여.*/

ul{list-style-type:none;}
/*ul태그를 사용하는 두 항목에 관해 : 앞에 아무것도 안 붙이겠다*/

#wrap{
    width:1000px;
    margin:0 auto;
}
/*첫번째 0은 상하 여백값을 없이 해라, 
두번째 auto는 좌우 알잘딱하게 분배해라=가운데 가라*/

#top{
    width:100%;
    padding:20px 0;
}

#slide{
    width:100%;
    position:relative;   
}

/*
☆position 속성 정리
1)static : 기본값 - 배치된 그 자리 그대로
2)relative : static 기준으로 상대적 배치가 가능하도록 지시(상하좌우 구문 이용)
3)absolute : 해당 태그가 붙은 것 기준 '상위태그'의 위치에 따라 위치를 지정함
            >> 때문에 상위 요소를 relative로 먼저 지정해 놓음.
4)fixed : 스크롤이 이동해도 그 자리를 유지함 = 상위태그의 영향을 받지 않음
          =별도로 위치 지정이 필요.
5)sticky:  특정 스크롤 이상으로 올라가면 상단에 고정한다던가 하는 방식        
          = top 값을 0으로 하면 화면을 위로 올렸을 때 고정
 *단 상위 태그에 overflow(=한 화면에 완전히 안 보여지면 쓰는거)속성을 부여해야 함
   ☆visible: 지정 구역 이상 담긴 컨텐츠가 전부 보임
   ☆hidden : 지정 구역 이상 담긴 컨텐츠가 안 보임(스크롤 X)
   ☆scroll : 지정 구역 이상 담긴 컨텐츠가 안 보이고 대신 스크롤을 통해 보이게 함
                (*가로, 세로 스크롤 모두 작동 여부와 관계없이 보이게 생성됨)
   ☆auto : 지정 구역 이상 컨텐츠가 담겼다면 자동으로 스크롤을 보이게 함
                (*가로, 세로 스크롤은 필요한 경우에만 생성됨)
            */

#slide .slide_image{
    width:100%;
    height:500px;
    background:url(../image/slide1.jpeg) no-repeat center;
    background-size:cover;
}
/*
☆인터넷으로 이미지를 곧바로 끌어올 수 있는 방법:'더미 이미지'
1)더미이미지 제공하는 사이트 https://loremflickr.com/
2)상기 사이트 주소를 background:url()에 입력
3)특정 사이즈를 필요로 할 경우 주소 뒤에 /너비/세로/이미지 순으로 값을 입력
 ex)https://loremflickr.com/1000/500/dog : 가로 1000, 세로 500, 개 관련 이미지
※단 임의로 제공하는 것이라 연관이 없거나 일정하지 않은 사진이 출력됨 주의!
※다른 이미지가 나오게 하고 싶다면 아래와 같이 하자.
   https://loremflickr.com/1000/500?random=1
   위 주소에서 랜덤값의 숫자를 다르게 해야 각기 다른 사진이 출력된다.

☆사이즈를 정확히 맞추지 않았다면 cover, contain 사용해서 크기를 맞출 수 있다.
cover : 컨테이너에 이미지가 꽉 차도록해줌 = 이미지를 확장시킴
contain : 컨테이너 안에 전체 이미지가 나오도록 해줌 = 이미지 축소시킴

*/

#slide .slide_bt span{
    display:inline-block;
    width:100px;
    height:30px;
    background:#68c7dd;
    border-radius:10px;
    margin:10px 15px;
    cursor:pointer;
}
/*content-box : padding과 너비 값을 합쳐 적용됨*/

#slide .slide_bt span:first-child{
    background-color:#01738d;
    margin-left:0;
}
/*첫번째 버튼인 얘에게서 마진 값을 빼야 들여넣기가 안 됨
(먼저 공통 구문에서 15px만큼 안으로 들어가라고 설정했으므로)*/

#slide .slide_bt span:last-child{
    background-color:lightblue;
}

/*가운데 요소를 기준으로!
 그 양 옆은 색깔만 지정하고 나머지는 가운데 요소에서 하는게 편함*/

#main_text p{
    line-height:40px;
    font-size:23px;
}

#gallery{
    width:100%;
    padding:10px 20px;   
}

#gallery ul{
    width:100%;
    position:relative;
}
/*여기서의 100%너비는 상위(gallery)에서 패딩-너비 값을 제외해 총 940임임*/

#gallery ul li{
    width:30%;
    background-size:cover;
    height:200px;
}

#gallery ul li:first-child{
    background:url(../image/pic1.jpeg) no-repeat center;
    position:relative;
}
#gallery ul li:nth-child(2){
    background:url(../image/pic2.jpeg) no-repeat center;
    position:absolute;
    top:0;
    left:35%;
}

#gallery ul li:last-child{
    background:url(../image/pic3.jpeg) no-repeat center;
    position:absolute;
    top:0;
    left:70%;           
    /*왜 70? : 첫 사진이 차지하는 30%, 두번째 사진이 차지하는 30%,
               총 세 사진 사이의 간격 10%의 총합*/
}

/*당장 2개만 보일 경우 : 2~3번째 사진이 곂친거임
>>>
 세 사진의 너비는 30%고 총 100%에서 10%의 여유가 남는다면
 5%의 여유가 남을 수 있게 left 값을 조정할 것
 픽셀 값 혹은 퍼센트 값 중 편한 걸로 해주는게 좋...
 지만!! 상위 태그를 퍼센트로 지정했으면 하위도 퍼센트로 하는게 편함!!*/

#subMenu{
    position:fixed;
    top:300px;
    left:100px;
    background-color: aquamarine;
    border-radius: 10px;
    color:#fff;
}

.subitem{
    padding:10px 15px;
}

.subitem:hover{
    background:#68c7dd;
    color:#ccc;
    cursor: pointer;
}